VITE_SUPABASE_URL=https://eiemrxdcgdlavfiuvrdu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpZW1yeGRjZ2RsYXZmaXV2cmR1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTIyNDUsImV4cCI6MjA5MDQyODI0NX0.oDOWYktRqgrx5k_EUtIf_oow7sSN5dT-_QvxqDPEt4Q
